{% unless include.hide_title %}
  <h2>Publications</h2>
{% endunless %}

<div class="manual-publications">
  <p class="publication-notes">
    <em>* denotes equal contribution</em><br>
    <span class="selected-star">&#9733;</span> <em>denotes selected publications</em><br>
    <em>[C]: Conference Paper [J]: Journal Paper [P]: Preprint</em>
  </p>

  <ul class="publication-list">
    {% for paper in site.data.publications %}
      <li class="publication-item">
        <span class="publication-marker" aria-hidden="true"></span>
        {% if paper.selected %}
          <span class="selected-star" aria-label="selected publication">&#9733;</span>
        {% endif %}
        <strong>[{{ paper.tag }}] {{ paper.title }}</strong>

        <div class="publication-authors">
          {% for author in paper.authors %}
            <span class="publication-author{% if author.me %} me-author{% endif %}">
              {{ author.name }}{% if author.equal %}*{% endif %}
            </span>{% unless forloop.last %}, {% endunless %}
          {% endfor %}
        </div>

        <div class="publication-venue">
          {{ paper.venue }}
          {% if paper.note %}
            <span class="publication-note">({{ paper.note }})</span>
          {% endif %}
        </div>

        {% if paper.paper_url or paper.github_url or paper.page_url or paper.links %}
          <div class="publication-links">
            {% if paper.paper_url %}
              <a href="{{ paper.paper_url }}">[paper]</a>
            {% endif %}
            {% if paper.github_url %}
              <a href="{{ paper.github_url }}">[github]</a>
            {% endif %}
            {% if paper.page_url %}
              <a href="{{ paper.page_url }}">[page]</a>
            {% endif %}
            {% for link in paper.links %}
              <a href="{{ link.url }}">[{{ link.label }}]</a>
            {% endfor %}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

<style>
  .manual-publications {
    margin-top: 0.75rem;
  }

  .publication-notes {
    color: #5f6f82;
    line-height: 1.55;
    margin-bottom: 1.35rem;
  }

  .publication-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .publication-item {
    color: #111827;
    line-height: 1.45;
    margin-bottom: 1.8rem;
    padding-left: 1.55rem;
    position: relative;
  }

  .publication-marker {
    background: #7c8795;
    height: 0.3rem;
    left: 0.45rem;
    position: absolute;
    top: 0.62rem;
    width: 0.3rem;
  }

  .selected-star {
    color: #f5a400;
    font-weight: 700;
  }

  .publication-authors,
  .publication-venue {
    color: #667789;
  }

  .publication-author {
    border-bottom: 1px solid #8fcfc2;
    font-weight: 600;
  }

  .me-author {
    border-bottom-color: transparent;
    color: #8a20ff;
  }

  .publication-note {
    color: #d64545;
    font-weight: 700;
  }

  .publication-links a {
    font-weight: 700;
    margin-right: 0.35rem;
  }
</style>
